{% extends 'base.html' %}

{% block content %}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-4xl font-bold">You have been successfully logged out!</h1>
            <p class="py-4">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            <a class="btn btn-ghost mt-4" href="/">Home</a>
            <a class="btn btn-primary mt-4" href="/auth/login">Login</a>
        </div>
    </div>
</div>

{% endblock %}