{% extends 'base.html' %}

{% block nav %}
{% include "medical/nav.html" %}
{% endblock %}

{% block content %}
<div class="max-w-2xl p-4 mx-auto card">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}

		<!-- {{ form }} -->

		{% for field in form %}
		<div class="form-control">
			{{ field.errors }}
			<label for="{{ field.id_for_label }}" class="label">
				{{ field.label }}
			</label>

			{{ field }}
		</div>
		{% endfor %}

		<button type="submit" class="w-full mt-4 btn">
			Create
		</button>
	</form>
</div>

{% endblock %}